<!DOCTYPE HTML>
<html>
    <body>
        <h1> HOMEPDIR FOR PROJECT SHARPBRAIN2.0 <h1>
        <h2> ENGINEERED BY DevOpe </h2>
       <h2> GITHUB:  <a href = "https://github.com/lastissa" >https://github.com/lastissa </a> </h2>
       <h2> X: <a href = "https://x.com/lastissa" > https://x.com/lastissa</a></h2>
        <h2> Email me : <a href = "mailto:Lastissa11@gmail.com"> Lastissa11@gmail.com </a>
        <h2>Api documentation: <a href="https://sharpbrain2-0.onrender.com/api_doc/" >API DOCUMENTATION</a></h2>/
        <!-- <h2>Api documentation: <a href="https://esta-sensate-unquickly.ngrok-free.dev" >API DOCUMENTATION</a></h2> -->

    <body>
    </html>
